<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="Cucumber BDD Parallel Suite" parallel="classes" thread-count="3">
    <test name="Login Page Test">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>